/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  height: 100px;
  background-color: #fff;

}

nav ul a,
nav .brand-logo {
  color: #bb3830;
}

nav ul a:hover {
  background-color: #f03f1d;
  color: #fbfef9;
}

nav .brand-logo {
  position: relative;
  padding: 7px 0 0 0;
}

nav ul {
  line-height: 100px;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
  }

nav .brand-logo {
  height: 100px;
}

.brand-img {
  height: 100%;
  width: 15%;

}

#intro h1 {
  color: #bb3830;
}

#download-button, #registrazione button, #questionario button {
  background-color: #bb3830;

}

#download-button:hover, #registrazione button:hover, #questionario button:hover {
  background-color: #f03f1d;
  font-weight: bold;

}

#servizio h5.center.light, #servizio h2, #app {
  color: #bb3830;
}

#media {
  display: none;
  border-top: 2px solid #bb3830;
}

.tabs.col.s12 {
  overflow-x: hidden;
}

#wrap-ul-media {
  margin-bottom: 20px;
}

.wrap-img img{

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 150px;
}

.wrap-img img:hover{

  opacity: 0.7;
}

#video video {
  margin-bottom: 10px;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 700px;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#email {
  border-radius: 2px;
}

.social-icons {
  margin: 0 8px;
  font-size: 2em;
  color: #fff;
}

.social-icons:hover {
  color: #bb3830;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #484848;
}

@media screen and (max-width : 992px) and (min-width: 601px){
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  .container {
    width: 100%;
  }

  .brand-logo img {
    margin: 0 auto;
  }

  #index-banner .section {
    top: 10%;
  }


}

@media screen and (max-width : 600px) {


  #index-banner .section {
    top: 0;
  }

  #intro h1.header.center {
    font-size: 2.0rem;
  }

  #intro h4 {
    font-size: 1.0rem;
  }

  .parallax-container .section {
    top:5%;
  }

  #registrazione h3 {
    font-size: 2.0rem;
  }

  #registrazione h5 {
    font-size: 1.0rem;
  }

  .side-nav {
    height: 200px;
  }

  .side-nav li > a {
    color: #bb3830;
  }

  .side-nav li > a:hover {
    color: #fff;
    background-color: #f03f1d;
  }

  nav .button-collapse {
    float: right;
    color: #bb3830;
    margin-top: 10px;
  }

  .brand-img {width: 20%;}

  nav {height: 80px;}

  #questionario h3 {font-size: 2rem;}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


